/*====================================================
DEFAULT VALUES:

Font Family                 : Roboto Condensed

Greenish Blue               : #34c6d3       (Buttons, Icons, Links, Lines & Backgrounds)
Steel Gray                  : #41464b       (Headings)
Blue Bayoux                 : #64707b       (Paragraphs)
White                       : #fff          (Text With Black Backgrounds)
Black                       : #000 

======================================================*/


/* General CSS */

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	color: #41464b;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Roboto Condensed", "sans-serif";
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    color: #41464b;
    text-transform: uppercase;
}

/*====================================================
                       MAIN CONTENT
======================================================*/
#home {
    height: 100%;
}

#home-cover {
    height: 100%;
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

.content-box {
    padding: 60px 0 60px 0;
}

.content-tilte h3{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 40px 0 15px 0;
}

/*====================================================
                       NAVIGATION
======================================================*/
.navbar-fixed-top{
	background-color: #41464b;
}

.navbar-nav>li>a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1.1;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    background: none;
    border: 0.2px solid #41464b;
    border-bottom-color:white;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    border-radius: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-collapse {
    max-height: none !important;
}

.dropdown-menu {
	min-width: 32px;
	background-color: transparent;
    box-shadow: 0 0px 0px;
}

.dropdown-menu>li>a {
	/*padding: 0px 0px;*/
	margin-right: 29px;
}

ul.dropdown-menu {
	width: 81px;
	padding: 0 0 0 0;
	border: 0px;
}

.dropdown-menu>li>a:hover {
	background-color: transparent;
}

.nav .open > a,
.nav .open > a:hover {
  background-color: transparent;
}

/*====================================================
                       SERVICES
======================================================*/
.service-item{
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item-icon i{
    color: #34c6d3;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon i{
    color: #fff;
    background-color: #34c6d3;
}

.service-item-tile h3{
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-desc p{
    margin: 0;
    padding-left: 85px;
}


/*====================================================
                       FOOTER
======================================================*/
footer {
    background-color: #41464b;
    padding-top: 30px;
    margin: 0 0 0 0;
    color: #fff;
}

address {
    color: #fff;
    letter-spacing: 1px;
}
address strong { font-size: 16px; }
address strong,
#phone-fax-email strong {
    letter-spacing: 1px;
}

/*====================================================
                        SINGNIN FORM
======================================================*/
#signupContent {
	margin-top: 80px;
}

#signupContent h3{
	text-align: left;
    font-size: 27px;
    font-weight: 700;
    padding: 40px 0;
}

#signform .ui-inputfield {
    background: transparent;
    border-radius: 0;
    border-color: #41464b;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#signform .ui-widget{
	font-family: "Roboto Condensed", "sans-serif";
}

#signform .form-control{
	display: block;
    height: 34px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#signform .ui-button-text-only .ui-button-text {
    background-color: transparent;
    line-height: 1.333333;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
}

.signformbtn{
	padding-top: 40px;
	padding-bottom: 40px;
}

.signformbtn .ui-button {
	border-radius: 0;
	border-width: 1px;
}

.signformbtn .signformbtnsub {
    background: transparent;
    border-radius: 0;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    border: 1px solid #41464b;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.signformbtn .ui-state-focus,
.signformbtn .ui-state-hover{
	background: #41464b;
}

/*====================================================
                        BUTTONS (Generic)
======================================================*/

.btn-general {
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #41464b;
}

.btn-sign {
    border-color: #41464b;
    color: #41464b;
}

.btn-sign:hover,
.btn-sign:focus {
    background-color: #41464b;
    color: #fff;
}

.btn-blue {
    border-color: #34c6d3;
    color: #34c6d3;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #34c6d3;
    color: #fff;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 3px 15px;
    border-radius: 0;
    display: none;
}